In [38]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder

In [39]:
train_sales = pd.read_csv('./train_sales_data.csv')
train_search = pd.read_csv('./train_search_data.csv')
train_user_reply = pd.read_csv('./train_user_reply_data.csv')
evaluation_public = pd.read_csv('./evaluation_public.csv')
# evaluation_public = pd.read_csv('./submit_example.csv')

## 1. data preprocessing

In [40]:
# combine = pd.concate(train_sales)

In [41]:
onehot_cols = ['model', 'adcode', 'regYear', 'regMonth']
# enc = OneHotEncoder(sparse=False)
# onehot_feats = enc.fit_transform(train_sales[onehot_cols])
# train_sales[onehot_cols] = onehot_feats
# train_sales = train_sales.join(onehot_feats)
enc = OneHotEncoder(sparse=False, handle_unknown = 'ignore')
# onehot_feats_X = pd.get_dummies(train_sales[onehot_cols].astype(str), prefix=onehot_cols)
# onehot_feats_y = pd.get_dummies(evaluation_public[onehot_cols].astype(str), prefix=onehot_cols)

train_sales = train_sales.join(onehot_feats_X)
evaluation_public = evaluation_public.join(onehot_feats_y)

In [42]:
train_sales.head()

,province,adcode,model,bodyType,regYear,regMonth,salesVolume,model_02aab221aabc03b9,model_04e66e578f653ab9,model_06880909932890ca,...,regMonth_11,regMonth_12,regMonth_2,regMonth_3,regMonth_4,regMonth_5,regMonth_6,regMonth_7,regMonth_8,regMonth_9
0,上海,310000,3c974920a76ac9c1,SUV,2016,1,292,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,云南,530000,3c974920a76ac9c1,SUV,2016,1,466,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,内蒙古,150000,3c974920a76ac9c1,SUV,2016,1,257,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,北京,110000,3c974920a76ac9c1,SUV,2016,1,408,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,四川,510000,3c974920a76ac9c1,SUV,2016,1,610,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
evaluation_public.head()

,id,province,adcode,model,regYear,regMonth,forecastVolum,model_02aab221aabc03b9,model_04e66e578f653ab9,model_06880909932890ca,...,adcode_450000,adcode_500000,adcode_510000,adcode_530000,adcode_610000,regYear_2018,regMonth_1,regMonth_2,regMonth_3,regMonth_4
0,1,上海,310000,3c974920a76ac9c1,2018,1,NaN,0,0,0,...,0,0,0,0,0,1,1,0,0,0
1,2,云南,530000,3c974920a76ac9c1,2018,1,NaN,0,0,0,...,0,0,0,1,0,1,1,0,0,0
2,3,内蒙古,150000,3c974920a76ac9c1,2018,1,NaN,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,4,北京,110000,3c974920a76ac9c1,2018,1,NaN,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,5,四川,510000,3c974920a76ac9c1,2018,1,NaN,0,0,0,...,0,0,1,0,0,1,1,0,0,0

In [ ]:
drop_cols = ['province', 'adcode', 'model', 'bodyType', 'regYear', 'regMonth', 'salesVolume']
train_y = train_sales['salesVolume']
train_sales